<h2>2-way sync</h2>
<ul>
    <li>tests end up in the browser code base</li>
    <li>results are tracked over time</li>
</ul>
<a
    class="footnote"
    href="https://github.com/WebKit/WebKit-http/blob/817c46e152af795d735678386db68805d0aa505e/LayoutTests/imported/w3c/web-platform-tests/webrtc/RTCConfiguration-iceCandidatePoolSize-expected.txt"
    >github.com/WebKit/WebKit-http/blob/<br />817c46e152af795d735678386db68805d0aa505e/<br />LayoutTests/imported/w3c/web-platform-tests/webrtc/<br />RTCConfiguration-iceCandidatePoolSize-expected.txt</a
>
