<h2>The old way</h2>
<!-- prettier-ignore -->
<cco-prism language="javascript" ngPreserveWhitespaces><!-- htmlmin:ignore -->const audioContext = new AudioContext();
const gainNode = audioContext.createGain();

console.log(gainNode.gain.defaultValue); // always 1<!-- htmlmin:ignore --></cco-prism>
<a class="footnote" href="https://github.com/chrisguttandin/standardized-audio-context/commit/217e3a3fde153874806d06b6fe8e6d29a76a567f"
    >github.com/chrisguttandin/standardized-audio-context/commit/217e3a3fde153874806d06b6fe8e6d29a76a567f</a
>
