<h2>test types</h2>
<ul>
    <li><a href="https://web-platform-tests.org/writing-tests/testharness.html">testharness.js tests</a></li>
    <li><a href="https://web-platform-tests.org/writing-tests/idlharness.html">IDL Tests</a></li>
    <li><a href="https://web-platform-tests.org/writing-tests/reftests.html">Reftests</a></li>
    <li><a href="https://web-platform-tests.org/writing-tests/visual.html">Visual tests</a></li>
    <li><a href="https://web-platform-tests.org/writing-tests/manual.html">Manual tests</a></li>
    <li><a href="https://web-platform-tests.org/writing-tests/crashtest.html">Crash tests</a></li>
    <li><a href="https://web-platform-tests.org/writing-tests/wdspec.html">wdspec tests</a></li>
</ul>
<a class="footnote" href="https://web-platform-tests.org/writing-tests/">web-platform-tests.org/writing-tests</a>
