<h2>Setup &amp; Cleanup</h2>
<!-- prettier-ignore -->
<cco-prism language="javascript" ngPreserveWhitespaces><!-- htmlmin:ignore -->setup(() =&gt; &#123; /* do something */ &#125;);

test((t) =&gt; &#123;
  t.add_cleanup(() =&gt; &#123; /* do something */ &#125;);
&#125;);<!-- htmlmin:ignore --></cco-prism>
<a class="footnote" href="https://web-platform-tests.org/writing-tests/testharness-api.html#setup"
    >web-platform-tests.org/writing-tests/testharness-api.html#setup</a
>
<a class="footnote" href="https://web-platform-tests.org/writing-tests/testharness-api.html#cleanup"
    >web-platform-tests.org/writing-tests/testharness-api.html#cleanup</a
>
