<h2>Synchronous Tests</h2>
<!-- prettier-ignore -->
<cco-prism language="javascript" ngPreserveWhitespaces><!-- htmlmin:ignore -->test(() =&gt; &lbrace;
  const actual = 'the actual value';
  const expected = 'the expected value';

  assert_equals(actual, expected, 'a description');
&rbrace;, 'a test description' );<!-- htmlmin:ignore --></cco-prism>
<a class="footnote" href="https://web-platform-tests.org/writing-tests/testharness-api.html#synchronous-tests"
    >web-platform-tests.org/writing-tests/<br />testharness-api.html#synchronous-tests</a
>
