.stage {
    background-color: #eb3f0f;
    height: 38.45vw;
    padding: 5vw 0;
    position: relative;
    width: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .stage {
        height: calc(100% - 10vh * 16 / 9);
        padding: calc(5vh * 16 / 9) 0;
        width: calc(92.2vh * 16 / 9);
    }
}

h1,
p {
    color: #000;
    text-align: center;
}
