<h2>tests as cheat sheets</h2>
<ul>
    <li>create a MediaStream out of thin air</li>
    <li>how to configure browsers for testing</li>
</ul>
<a
    class="footnote"
    href="https://github.com/web-platform-tests/wpt/blob/master/webaudio/the-audio-api/the-mediastreamaudiosourcenode-interface/mediastreamaudiosourcenode-routing.html"
    >github.com/web-platform-tests/wpt/blob/master/webaudio/<br />the-audio-api/the-mediastreamaudiosourcenode-interface/<br />mediastreamaudiosourcenode-routing.html</a
>
<a class="footnote" href="https://github.com/web-platform-tests/wpt/tree/master/tools/wptrunner/wptrunner/browsers"
    >github.com/web-platform-tests/wpt/tree/master/tools/<br />wptrunner/wptrunner/browsers</a
>
